<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/31455576-2160-407a-8363-0b842921ef7f/resourceGroups/SampleGroup/providers/Microsoft.ContainerRegistry/registries/gabc2022</ResourceId>
    <ResourceName>gabc2022</ResourceName>
    <ResourceGroup>SampleGroup</ResourceGroup>
    <Subscription>MSDN Platforms</Subscription>
    <RegistryUrl>https://gabc2022.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9a5cff83-d6f5-4ab2-8240-4f7707268025</ProjectGuid>
  </PropertyGroup>
</Project>